.display-none {
    display: none !important;
}

.fullscreen {

    height: 100%;
    top: 0;
    left: 0;
}

.fullscreen img {
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

#attack-container {       
    position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

th, td {
	font-size: 24px !important;
}

